*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left,#ff7979,#7979ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
table{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    padding: 25px 35px;
    border: 5px solid #000;
    background-color: #ffffff60;
    border-radius: 20px;
}
tr{
    border-radius: 20px;
    background-color: #ffffff90;
    border: 2px solid red;
    margin: 10px 15px;
}
th{
    color: #000;
    border-radius: 15px;
    font-size: 25px;
    
    padding: 10px 15px;
}
td{
    border-radius: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    position: relative;
    text-align: center;
}
input{
    width: 100%;
    background-color:transparent;
    padding: 10px 15px;
    font-size: 25px;
    border: 0;
}
input::placeholder{
    color: #00000080;
}

input:focus{
    border: 0;
    outline: 0;
}
.jamekols{
    font-size: 25px;
}
.tds
{
    border: 0;
}
.btns{
    background-color: #00000070;
    font-size: 22px;
    border: 0;
    height: 50px;
    border-radius: 15px;
    top: 70%;
    color: aliceblue;
    width: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.page2{
    height: 250px;
    width: 550px;
    position: relative;
    background-color: #ff7979;
    top: 100%;
    left: 50%;
    margin-top: 50%;
    transform: translate(-100%,-50%);
}
.btnha{
    width: 60%;
    height: 25%;
    display: flex;
    margin: 0 auto;
    background-color: red;
}
.btnha button{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid black;
}
.jamekolss{
    width: 100%;
    height: auto;
    border: 2px solid #000;
    background-color: #ffffff60;
}
.jamekolss span{
    width: 100%;
    height: auto;
  font-size: 24px;
  color: black;
}
.jamekolss button{
    width: 50%;
    height: 20%;
    background-color: rosybrown;
}